body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #efefef;
}

.div1 {
    margin: 10%;
    padding: 25px;
    border: 1px solid #ccc;
    background-color: #fff;
}

input {
    padding: 6px 12px;
    font-size: 1.3em;
}

p {
    padding: 6px;
}